@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for date input */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}